.main{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 15px;
}

.container {
    box-shadow: 2px 4px 8px 0 white;
    border-radius: 10px;
    width: 100%;
    background-color:white;
    color: purple;
    font-size: 18px;
    margin-left: 0px;

}
.icon{

width:40px;
height:40px;
border-radius:40px;
padding: 5px;

}

.text{
    padding-top: 0px;
    margin-top: 10px;
    cursor:pointer;
}