.card{
    background-color:whitesmoke;
    width:100%;
    padding: 10px;
    height:50px;
    font-size: 20px;
    margin-left: 0px;

}

.text{
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    margin:8px;
}
body{
    margin: 0px;
}