.container{
    box-shadow: 0 4px 8px 0 indigo;
    width:95%;
    margin-left: 25px;
    margin-bottom: 8px;
    padding: 5px;  
    background-color:white;
    border-radius:10px;
}

.vow{
    padding-left: 15px;
    padding-bottom: 0px;
}

.ckl{
    padding-left: 15px;
    padding-top: 0px;
    opacity: 0.5;
}